

input[type=submit], button{
	font-family: 'intro_bold_altregular' ;
	font-size: 16px;
	border-radius: 4px;
	background-color: $landal-green;
	border: 2px solid $landal-green;
	padding: 3%;
	padding-left: 8%;
	padding-right: 8%;
	-moz-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#ccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#ccc');
}


input[type=submit] {
	color: #fff;
}

button{
	//position:absolute !important;
	//left: 50%;	
	margin-left: auto;
	margin-right: auto;
	a{
		color: #FFF!important ;
	}
}




.wpcf7-submit{
	//position: absolute;
	margin-top: 2%;
}

//button on the start page
button.green {
	z-index: 100;
	//position: absolute;

	margin-top: 5%;
    //top: -230px;
    color: #FFF ;
    // margin-left: auto;
    // margin-right: auto;
    
}

button.white {
	z-index: 100;
	position: absolute;
	top:60%;
	position: absolute;
	left: 36%;
	background-color: #FFF;
	border: 2px solid $landal-green;
	-moz-box-shadow: 0px 0px 0px #ccc;
	box-shadow: 0px 0px 0px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#ccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#ccc');

	a{
		color: $landal-blue !important;
	}


}

ul.social_media{

	position: absolute;
	list-style: none;
	padding-left: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 83%;

	li{	
		margin-left: 5px;
		display: inline-block;
		img{
			position: relative;
			top:-3px;
			width: 30px;
			height: 30px;
		}
	}

	
  
}

.social_media h3 {
  
}