

input[type=submit], button{
	font-family: 'intro_bold_altregular' ;
	font-size: 16px;
	border-radius: 4px;
	background-color: $landal-green;
	border: 1px solid $landal-green;
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
	-moz-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#ccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#ccc');
}


input[type=submit] {
	color: #fff;
}



button a{
	color: #fff !important;
	
}

.wpcf7-submit{
	position: absolute;
}

//button on the start page
button.green {
	z-index: 100;
	position: absolute;
    //top: -230px;
    color: #FFF ;
    // margin-left: auto;
    // margin-right: auto;
    
}

button.white {
	z-index: 100;
	position: absolute;
	background-color: #FFF;
	border-color: $landal-blue;
	-moz-box-shadow: 0px 0px 0px #ccc;
	box-shadow: 0px 0px 0px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#ccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#ccc');

	a{
		color: $landal-blue !important;
	}


}

ul.social_media{

	list-style: none;
	

	li{	
		margin-left: 5px;
		display: inline-block;
		img{
			position: relative;
			top:-3px;
			width: 30px;
			height: 30px;
		}
	}

	
  
}

.social_media h3 {
  
}