// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}


// span.voorwaarden, span.aanbiedingen{
// 	display: inline;
// 	margin-left: 15px;
// }

//[contact-form-7 id="63" title="Contact form 1"]

input[type=radio] {
	margin-left: 5px;
}

input[type="radio"], input[type="checkbox"]{
	display: none;
}

input[type="radio"] + span.wpcf7-list-item-label {
 	background:url(../images/radio.jpg);
 	background-repeat: no-repeat;
 	background-size: 17px 17px;
 	padding-left: 20px;
 }

 input[type="checkbox"] + span.wpcf7-list-item-label, input[type="checkbox"] + .acceptance {
 	background:url(../images/check.jpg);
 	background-repeat: no-repeat;
 	background-size: 17px 20px;
 	padding-left: 22px;
 }

 input[type="checkbox"] + .acceptance {
 	padding-top: 2px;
 	padding-bottom: 3px;
 }

input[type="radio"]:checked + span.wpcf7-list-item-label {
 	//display: none;
 	//background-color: green;
	background:url(../images/radio_select.jpg);
	background-repeat: no-repeat;
 	background-size: 17px 17px;
 	padding-left: 20px;
}

input[type="checkbox"]:checked + span.wpcf7-list-item-label, input[type="checkbox"]:checked + .acceptance {
 	background:url(../images/check_select.jpg);
 	background-repeat: no-repeat;
 	background-size: 17px 20px;
 	padding-left: 22px;
 }




input[type=text], input[type=email]  {
	color: #fff;
	background-color: $landal-green;
	border:none;
	border-radius: 0px;
	max-width: 100%;
	padding-left: 3%;
}

::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

:-ms-input-placeholder {  
   color: #FFF;  
}


.form_container{
	//background-color: pink;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.wpcf7-form p{
	text-align: left;
	position: relative;
	//margin-bottom: 5px;	
	//background-color: pink;
}

p.submit{
	text-align: center !important;	
}	

span.wpcf7-form-control-wrap{
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

span.voornaam{
	float:left;
	width: 63%;
	//margin-left: 46px;
	margin-right: 2%;
}

span.tussenvoegsel{
	float: left;
	width: 35%;
}

span.wpcf7-form-control-wrap.voornaam, span.wpcf7-form-control-wrap.achternaam, span.wpcf7-form-control-wrap.email{
	//margin-left: 13px;
}

span.wpcf7-list-item-label {
    margin-right: 5px;
}


span.wpcf7-list-item, input[type=radio]  {
     margin-left: 0; 
}

// .voorwaarden{
// 	margin-left: 15px;

// 	input{
// 		margin-right: 5px;
// 	}
// }

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{
	width: 100%;
}


.aanbiedingen_ontvangen{
	margin-left: 0px;
	
	.wpcf7-list-item-label{
		position: relative;
		top: -20px;
	    display: inline-block;
	}
}

p.second {
	top: -8px;
	z-index: 100;
}

p.third {
	top:-4px;
}

p.fourth {
    top: -7px;
}

p.fifth{
	top:-17px;
}

p.sixth{
	top:-16px;
}

p.seventh{
	top:-18px;
}

p.eighth{
	//top:-35px;
	position: absolute;;
	text-align: center;	
}

//special adjustmemt 
