

@font-face {
    font-family: 'intro_bold_altregular';
    src: url('../fonts/intro-bold-alt-webfont.woff2') format('woff2'),
         url('../fonts/intro-bold-alt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'intro_bookregular';
    src: url('../fonts/intro-book-webfont.woff2') format('woff2'),
         url('../fonts/intro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@viewport {  
   orientation: portrait;  
 }  

html,body,.wrap,.content{

	height:100% !important;max-height: 100%;
}


body{
	font-family: 'intro_bookregular' ;
	overflow: hidden;
	width: 100%;
	position: fixed;
	text-align: center;
	color: $landal-blue;

	line-height: 120%;
	font-size: 15px;
	
	//background-image: url(../images/wallppaper.png);
 }


.wrap.container{
	padding: 0px ;
}



.brand{
	display: none;
}


main.main{
	text-align: center;
	height: 100%;
	overflow: hidden;
	//border:10px solid $landal-green;
	background-color: #FFF;



}

.brainwash {
	position:relative; 

}

.brainwash img { 
	position:absolute; 
	left:0; 
	top:0;
	max-width: 100%;
}

.content{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;







}

.text_container{
	padding-left: 5%;
	padding-right: 5%;
}

