



// .page-template-template-game .brand{
// 	display:none;

// }


// .rslides {
//   position: relative;
//   list-style: none;
//   overflow: hidden;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   }

// .rslides li {
//   -webkit-backface-visibility: hidden;
//   position: absolute;
//   display: none;
//   width: 100%;
//   left: 0;
//   top: 0;
//   }

// .rslides li:first-child {
//   position: relative;
//   display: block;
//   float: left;
//   }

// .rslides img {
//   display: block;
//   height: auto;
//   float: left;
//   width: 100%;
//   border: 0;
//   }

main{
  padding: 0px ;
  //background-color: pink;
}

//some pages have diffrent text_container paddings
.start .text_container, .goed .text_container {
	padding-left: 0%;
	padding-right: 0%;
}

.page-header{
	margin-top: 0px;

	img{
		max-width: 100%;
	}

	.click_logo{
		position: absolute;
		z-index: 200;
		width: 60px;
		height: 60px;
		right: 4%;

		/* Portrait and Landscape */
		@media only screen 
		  and (max-device-width: 667px) 
		  and (-webkit-min-device-pixel-ratio: 2) { 
		  	width: 45px;
			height: 45px;

		}

	}
	h1{
		display: none;
	}
}

h5{
	margin-left: 10px;
	margin-right: 10px;

	
}

.helaas h3{
	//margin-top: 30%;
}

.helaas button{
	//margin-top: 40%;
}

body.goed{
	position: relative;
}

.goed h3{
	//margin-top: -40px;

	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (orientation: portrait) {
	  	//adjust the margin for iphone 5
		margin-top: -40px;
		
	}
}
