





main{
  padding: 0px ;
  //background-color: pink;
}

//some pages have diffrent text_container paddings
.start .text_container {
	padding-left: 0%;
	padding-right: 0%;
}


.page-header{
	margin-top: 0px;

	img{
		max-width: 100%;
	}

	.click_logo{
		position: absolute;
		z-index: 200;
		width: 60px;
		height: 60px;
		right: 4%;
		

		/* Portrait and Landscape */
		@media only screen 
		  and (max-device-width: 667px) 
		  and (-webkit-min-device-pixel-ratio: 2) { 
		  	width: 45px;
			height: 45px;

		}

	}
	h1{
		display: none;
	}


}

body.actievoorwaarden{

	height:auto;
	max-height: auto;
	overflow: scroll;
	position: relative;
	

}




h5{
	margin-left: 10px;
	margin-right: 10px;

	
}

.helaas h3{
	//margin-top: 30%;
}

.helaas button{
	//margin-top: 40%;
}

// body.goed{
// 	position: relative;
// }

.goed h3{
	//margin-top: -40px;

	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (orientation: portrait) {
	  	//adjust the margin for iphone 5
		margin-top: -30px;
	}
}

.helaas .text_container:nth-child(2), .bedankt-a .text_container, .bedankt-b .text_container{
	padding-top: 30%;
}

.home .text_container {
	margin-top: -15px;
}

.start .text_container, .spel .main {
	position: relative;
	top:-30px;
}

.home{
	button{
		//width: 150px;
		//margin-left: -75px;
	}
}

.start{

	button{
		//width: 68px;
		//margin-left: -34px;
	}
}

	.goed{
		.main{
			border:0px !important ;
		}
		.text_container {
			padding-left: 1%;
			padding-right: 1%;
		}
	}





@media only screen and (min-width : 769px)  {

	//center app on screen
	.wrap.container{
		position: relative;
	}



	.content{

		position: absolute;
    	top: 50%;
    	left: 50%;
    	height: 741px !important;
   		 width: 468px;
   		 margin: -370px 0 0 -234px;

		max-width: 468px;
		max-height: 741px;

		overflow: hidden;
		
	} 

	 body{
  		position: absolute;
  		font-size: 20px;
  	}

  	button{
  		font-size: 25px;
  		margin-top: 15% !important;
  	}

  	.start{

  		button{
  			top:55%;
  		}
  	}

  	.game_footer{
  		top:685px !important;
  	}

	.goed{
		.main{
			border:10px solid $landal-green !important;
			

		}
		.text_container {
			padding-left: 1%;
			padding-right: 1%;
		}
	}


  	



}
	

/* ----------- iPad mini ----------- */

/* Portrait */
@media only screen 
  and (min-device-height: 851px) 
  and (max-device-height: 1039px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	html, body, main{
  		//max-height:1000px;
  	}

  	body{
  		position: absolute;
  		font-size: 20px;
  	}

  	button{
  		font-size: 25px;
  		margin-top: 15% !important;
  	}
	
	//browser facebook adjustmnents
	.content{

		max-width: 568px;
	}

	.goed{
		.main{
			border:0px ;
		}
		.text_container {
			padding-left: 1%;
			padding-right: 1%;
		}
	}


	
	.game_footer{
		top:915px !important;
	}

	.spel .game_footer{
		top:945px !important;
	}
 
	.wpcf7-submit{
		
		top:-150px !important ;
	}

}






/* ----------- iPad 3 and 4 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

 	html, body, main{
  		//max-height:1000px;
  	}

  	body{
  		position: absolute;
  	}
	
	//browser facebook adjustmnents
	.content{
		max-width: 568px;


	}

	button{
		//top:850px !important;
	}

	.game_footer{
		top:915px !important;
	}

	.spel .game_footer{
		top:945px !important;
	}
 
	.wpcf7-submit{
		
		top:-150px !important ;
	}

	.goed{
		.main{
			border:0px ;
		}
		.text_container {
			padding-left: 1%;
			padding-right: 1%;
		}
	}



}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  	body.goed{
  		font-size: 14px;
  	}

	.wpcf7-submit{
		position: relative;
		top: -30px;
		left:3%;
		
	}





}






