
body{

	font-family: 'intro_bookregular' ;
}

h1, h2, h3, h4, h5, strong{
	font-family: 'intro_bold_altregular';	
}



h5{
	color: $landal-green;
	margin-left: 10px;
	margin-right: 10px;


	//adjust the margin for iphone 5
	margin-top: -15px;
}



h3{
	color: $landal-blue;
}